body{
    background-image:url(assets/bg.jpg);
    padding: 0% 0%;
    margin: 0%;
    font-family: sans-serif;
    
}

/* nav bar */
nav{
    display: flex;
    background-color: rgb(12, 15, 56);
    justify-content: space-evenly;
    color: aliceblue;
    padding: 2px 0px 0px 0px;
    margin: 0% 0%;
    position: fixed;
    width: 100%;
    padding: 1px 2px 1px 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li {
    list-style: none;
    display: inline-block;
    
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
nav ul li:hover{
    background: rgb(33, 46, 79);
}
label.logo{
    color: aquamarine;
    font-size: 35px;
    font-weight: 2;
}
#BOX{
    background-color: rgba(109, 206, 190, 0);
    border-radius: 35px;
    color: aliceblue;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding:5% 5%;
    justify-content: center;
    align-items: center;

}

.burger div{
    width:28px;
    height: 4px;
    background-color:white;
    border-radius: 20%;
    margin: 5px;
}

.burger {
    display: none;
    cursor: pointer;
}

blog-panel{
    background-color: brown;
}

@media screen and (max-width:600px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        flex-direction: column;
        background-color: aquamarine;
        display: flex;
        top: 3.7vh;
        height: 95vh;
        width: 10vh;
        transform: translateX(100%); 
        transition: transform 0.5s ease-in;
        align-items: center;
    }
    .nav-links li{
        opacity: 0%;
    }
     .burger{
        display: block;
     }

    .nav-active{
        transform: translateX(0%);
    }

    
}