body{
    background-image:url(assets/bg.jpg);
    
}
#BOX{
    background-color: rgba(109, 206, 190, 0);
    border-radius: 35px;
    color: aliceblue;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding:5% 5%;
    justify-content: center;
    align-items: center;

}

blog-panel{
    background-color: brown;
}